#contact_modal {
  display: none;
}

.photograph-header {
  background-color: #FAFAFA;
  height: 300px;
  margin: 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photograph-header h2 {
  color: #D3573C;
  font-size: 50px;
  margin-bottom: 10px;
}

.photograph-header h3 {
  color: #901C1C;
  font-size: 28px;
  font-weight: 100;
  margin: 0px;
}

.photograph-header p {
  font-size: 18px;
}

.photograph-header article {
  display: flex;
  justify-content: space-around;
  gap: 42rem;
  align-items: center;
  flex-direction: row;
}


.photograph-header article img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin-right: 0px;
  border-radius: 130px;
}

.media_section {
  display: flex;
  justify-content: center;
  gap: 48px 250px;
  margin-top: 100px;
  margin-bottom: 80px;
  flex-wrap: wrap;
}


.media_section article div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.media_section article div div {
  display: flex;
  flex-direction: row;
  gap: 10px;
  max-width: 350px;
}

.media_section article img {
  object-fit: cover;
  width: 500px;
  height: 500px;
  border-radius: 10px;
  cursor: pointer;
}

.media_section article video {
  object-fit: cover;
  width: 500px;
  height: 500px;
  border-radius: 10px;
  cursor: pointer;
}

.media_section h2 {
  font-size: 2rem;
  color: #901C1C;
  font-weight: 100;
  margin: 10px 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.media_section span {
  font-size: 2rem;
  color: #901C1C;
  font-weight: 600;
  margin: 10px 0;
}

.media_section .fa-solid {
  font-size: 2rem;
  color: #901C1C;
  font-weight: 600;
  margin: 10px 0;
  display: none;
  align-items: center;
  cursor: pointer;
}

.media_section .fa-regular {
  font-size: 2rem;
  color: #901C1C;
  margin: 10px 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}

#title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.input-control {
  font-size: 20px;
  padding-left: 10px;
}

.text-control {
  height: 300px;
  margin-top: 5px;
  padding: 10px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.bgroundContact {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(196, 196, 196, 0.4);
}

.content_contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 2500px;
  height: 100%;
}

#contact_modal {
  width: 100%;
}

.modal {
  border-radius: 5px;
  background-color: #DB8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312E2E;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

form textarea {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

.dropdown-content {
  display: flex;
  align-items: center;
  margin-left: 120px;
}

.dropdown-content #sort-title {
  font-family: Arial, "sans-serif";
  font-size: 28px;
  font-weight: 600;
}

.dropdown {
  min-width: 15em;
  position: relative;
  margin: 2rem;
}

.dropdown * {
  box-sizing: border-box;
}

.select {
  background: #901c1c;
  color: #fff;
  width: 100%;
  height: 75px;
  font-family: Arial, "sans-serif";
  font-weight: 600;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  padding: 1em;
  cursor: pointer;
}

.select-clicked {
  border: 2px #bb2d3b solid;
  box-shadow: 0 0 0.8em #bb2d3b;
}

.select:hover {
  background: #bb2d3b;
}

.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: 0.3s;
}

.caret-rotate {
  transform: rotate(180deg);
}

.menu {
  list-style: none;
  padding: 0.2em 0.5em;
  background: #901c1c;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  border-radius: 0 0 0.5em 0.5em;
  color: #fff;
  font-family: helvetica, sans-serif;
  position: absolute;
  top: 3.3em;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
}

.menu li {
  padding: 0.7em 0.5em;
  margin: 0.3em 0;
  cursor: pointer;
  font-family: Arial, "sans-serif";
  font-weight: 600;
  font-size: 18px;
}

.menu #date {
  border-top: 1px #fff solid;
  border-bottom: 1px #fff solid;
}

.menu:hover {
  background: #bb2d3b;
}

.active {
  background: #901c1c;
}

.menu-open {
  display: block;
  opacity: 1;
}


.bground {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.content {
  margin: 0 auto;
  width: 100%;
  max-width: 2500px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: #fff;
}

.modal-body {
  padding: 15px 8%;
  margin: 15px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev {
  width: 60px;
  height: 60px;
  font-size: 60px;
  font-weight: 100;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 150px;
  top: 50%;
  color: #901c1c;
}

.prev:hover {
  filter: brightness(2);
}

.next {
  width: 60px;
  height: 60px;
  font-size: 60px;
  font-weight: 100;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 150px;
  top: 50%;
  color: #901c1c;
}

.next:hover {
  filter: brightness(2);
}



.modal-body img {
  max-width: 100vw;
  max-height: 95vh;
  width: auto;
  height: auto;
}

.modal-body video {
  max-width: 100vw;
  max-height: 95vh;
  width: auto;
  height: auto;
}

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #fff;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.otherInfo {
  background-color: #db8876;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 75px;
  position: fixed;
  right: 31px;
  bottom: 0px;
  border-radius: 10px 10px 0px 0px;
  gap: 70px;
}

.otherInfo p {
  font-weight: 600;
  font-size: 28px;
}

.info {
  font-weight: 600;
  font-size: 28px;
  display: flex;
  align-items: center;
  gap: 10px;
}

@media screen and (min-width: 1440px) {
  .photograph-header article {
    display: flex;
    justify-content: space-around;
    gap: 16rem;
    align-items: center;
    flex-direction: row;
  }

  .media_section {
    display: flex;
    justify-content: center;
    gap: 0px 78px;
    margin-top: 100px;
    margin-bottom: 80px;
    flex-wrap: wrap;
  }

  .media_section h2 {
   font-size: 1.8rem;
}

  .media_section article {
    width: 26%;
  }

  .media_section article div div {
    max-width: 250px;
  }

  .media_section article img {
    width: 100%;
    height: 61%;
  }

  .media_section article video {
    width: 100%;
    height: 61%;
  }

  .modal-body {
    padding: 15px 8%;
    margin: 5% auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-body img {
    max-width: 100vw;
    max-height: 76vh;
    width: auto;
    height: auto;
  }

  .modal-body video {
    max-width: 100vw;
    max-height: 76vh;
    width: auto;
    height: auto;
  }
}

@media screen and (min-width: 768px) {
  .photograph-header article {
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 1rem;
    align-items: center;
    flex-direction: row;
  }

  .photograph-header article img {
    width: 200px;
    height: 200px;
  }

  .photograph-header h2 {
    font-size: 40px;
  }

  .photograph-header h3 {
    font-size: 18px;
  }

  .photograph-header p {
    font-size: 12px;
  }

  .media_section {
    display: flex;
    justify-content: center;
    gap: 0px 25px;
    margin-top: 100px;
    margin-bottom: 80px;
    flex-wrap: wrap;
  }

  .media_section h2 {
   font-size: 1.6rem;
}

  .media_section article {
    width: 28%;
  }

  .media_section article div div {
    max-width: 175px;
  }

  .media_section article img {
    width: 100%;
    height: 61%;
  }

  .media_section article video {
    width: 100%;
    height: 61%;
  }

  
  .media_section span {
    font-size: 1.6rem;
  }

  .media_section i {
    font-size: 1.6rem;
  }

  .content {
    display: flex;
    height: 100%;
  }

  .modal-body {
    padding: 15px 8%;
    margin: 5% auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-body img {
    max-width: 75vw;
    max-height: 76vh;
    width: auto;
    height: auto;
  }

  .modal-body video {
    max-width: 75vw;
    max-height: 76vh;
    width: auto;
    height: auto;
  }

  .prev {
    left: 30px;
  }

  .next {
    right: 30px;
  }

  #title {
    font-size: 30px;
  }

  .modal header h2 {
    font-size: 30px;
  }

  form label {
    font-size: 20px;
  }
}